<?xml version="1.0"?>
<model>
  <name>follow_cam_lite</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Frank Loewenich</name></author>
  <description>Free-flying video camera (960x540) that follow_cam_node keeps behind and above the UAV with a level attitude.</description>
</model>
